{% extends "base.html" %}

{% block content %}

{% load socialaccount %}

<link rel="stylesheet" href="https://unpkg.com/@blaze/css@x.x.x/dist/blaze/blaze.css">

 <body>
    <div class="o-container o-container--medium u-center-block">
        <div class="c-card">
            <header class="c-card__header">
                <h2 class="c-heading">Login</h2>
            </header>
            <form method="post" class="c-card__body">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="c-button c-button--brand">Login</button>
                <p class="u-text-center">Or</p>
                <a href="{% provider_login_url 'google' %}" class="c-button c-button--info u-center-block">Sign in with Google</a>
            </form>
        </div>
    </div>
</body>
{% endblock %}