{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/@blaze/css@x.x.x/dist/blaze/blaze.css">

<div class="o-container o-container--medium u-center-block">
    <div class="c-card">
        <header class="c-card__header">
            <h2 class="c-heading">Forgot Password</h2>
        </header>
        <form method="post" class="c-card__body">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="c-button c-button--brand">Reset password</button>
        </form>
    </div>
</div>
{% endblock %}
